td.details-control{
    text-align: center;
    color: #4e73df ;
}td.details-control:hover i.fas.fa-plus{
    cursor: pointer;
    color: #3753a2;
}tr:hover td.details-control i.fas.fa-plus{    
    cursor: pointer;
    color: #3753a2;
}
.no-link{
    text-decoration: none;
}
.no-link:hover{
    text-decoration: none;
}
.star-lawyer{
    color:#ffbd4a;
    font-weight: 900;
}
.background-image,.image-search-lawyer{
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
}
.public-profile-lawyer{
    min-height: 50vh;
}

.public-profile-lawyer .image-search-lawyer{
    min-height: 50vh;
    height: 50vh;
}
.sidebar-brand-icon{
    height: 70px;
    width: 150px;
}
